.container {
  width: 16rem;
  padding: 12px;
  border-radius: 10px;
  margin: 10px;
}

.icon {
  font-size: 1.5rem;
  margin-right: 10px;
  display: inline-block;
}

.cardCountry {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
